streamlit==1.36.0
openai==1.35.3
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.9
langchain-openai==0.1.9
langchain-text-splitters==0.2.1
langchainhub==0.1.20
pypdf
Streamlit-extras
chromadb